@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

$dark-gray: rgb(59, 59, 59);
$container-width: 389px;
$container-height: 94px;
$top-elevation: 400px;
$series-color: #333333;
$nintendo-color: #E60012;
$font: 'Roboto Condensed', sans-serif;
$hover-lucid: #ffffff2c;

.container {
    position: relative;
    bottom: -126px;
    z-index: 3;

    .header {
        display: flex;
        align-items: center;
        background-color: black;
        background-image: url('../../assets/fighters/ptn_diagonal_12.webp');
        background-size: 6px;
        height: 85px;
        margin-bottom: 2px;

        svg {
            position: relative;
            width: 396px;
            height: 56px;
            left: 20px;

            path {
                fill: white;
            }
        }

        .space {
            flex-grow: 1;
            position: relative;
        }

        .link {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 122px;
            height: 85px;
            cursor: pointer;

            div:first-child {
                display: flex;
                flex-direction: column;
                margin-right: 15px;

                p, span {
                    color: $nintendo-color;
                    font-family: $font;
                    font-size: 24px;
                    font-weight: 900;
                    margin: 2px;
                }

                span {
                    font-size: 16px;
                }
            }

            div:last-child {
                height: 75%;
                border-left: 3px solid $nintendo-color;
                display: flex;
                align-items: center;

                svg {
                    position: relative;
                    left: -1px;
                    width: 27px;
                    height: 27px;

                    path {
                        fill: $nintendo-color;
                        transform: translate(-3px, -3px);
                    }
                }
            }
            
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                background-color: $hover-lucid;
                left: 0;
                width: 0%;
                height: 100%;
                transition: .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1px;
        background-color: $dark-gray;
    }

    .free-space {
        width: $container-width;
        height: $container-height;
        background-color: black;
        display: flex;
        justify-content: center;

        svg {
            width: 100px;

            path {
                fill: $series-color;
            }
        }
    }
}