.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .elevation {
        position: absolute;
        top: 425px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .content-fit-center {
            width: fit-content;
        }
    }
}